
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
   
  

}


.navigation {
    background-color: #fff;
    position:fixed;
    width: 100%;
    z-index: 9999;
    border-bottom: 1px solid #DDD;
    height: 70px;
    top: 0px;
}


.work-paragraph p {
    text-align: left;
    padding-left: 5px;
}

}


.navigation > .content {

    height: 5.375rem;

}



.content  {

     width: 60rem;

}

.nav-links li {
    display: inline-block;
    margin-left: 1.563rem;
    color: black;
    font-weight: 500;
    float: right;
    font-size:1.04rem;
    margin-top: 1.7rem;
    list-style: none;
    box-sizing: border-box;
    font-style: 'roboto', sans-serif;
}


.name {

    float:left;
    height: 4.375rem;

  
   
}


.navigation .nav-links {

    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin-top: .10rem;
    margin-right: 1.7rem;


}


.splash-image {

    background-image: url('../images/Black-Pattern-Wallpaper.jpg');
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size: cover;
    display: block;
    height: 45.938rem;
    overflow: auto;
}


.splash-text {

    color: white;
    padding-bottom: 30px;
    position: relative;
    top: -40px;
}

.splash-text h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
    text-align: center;


    
}


.portfolio-text h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
    text-align: center;

}







.middle-images li {
    display: inline-block;
    list-style: none;
    box-sizing: border-box;
    
    margin-right: 1.563rem;
    
    border-width: 5px;   
    border-style:ridge;
    margin-bottom: 1.563rem;
}



.picture {

    border:1px solid #021a40;
    position: absolute;
}




.middle-text {

    color: white;
}

::selection {
    background: #f06;
    color: #050505;
    text-shadow: none;
}
body {
    background: #fdfdfd;
    color: #3d3d3d;
    text-align: center;
    font-family: Sans-Serif;
    line-height: 1;
}
.wrap {
    margin: 0 auto;
    width: 960px;
    text-align: left;
}
a,
a:visited {
    color: inherit;
    text-decoration: none;
}

footer { 
    display: block;
}



.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #55acee;
}

.social .instagram {
    color: #55acee;
}

.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.icons {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    
}

.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}
/*
    ===========================
    === Put you styles here ===
    ===========================
*/


@media only screen and (max-width: 480px) {
    .navigation {
        padding: 3em 0;
        width: 100%;

    }
    .splash-image {
        font-size: 2em;
        width: 100%;

    }
    .nav-links {
        font-size: 3em;
        width: 100%;

    }
  
    .footer {
        padding: 3em 0;
        width: 100%;

    }
    .social text-center {
        font-size: 3em;
        width: 100%;

    }
    
     
}







.clearfix{clear:both!important;}
.no-read{speak:none;}
.no-see,[hidden]{position:absolute;left:-9999px;}
.no-select{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.none{display:none;}
.align-left{text-align:left;}
.align-center{text-align:center;}
.align-right{text-align:right;}
.align-justify{text-align:justify;}